.question {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.53);
  &__image {
    width: 240px;
    height: 190px;
    border-radius: 10px;
    &_anonym {
      width: 240px;
      height: 190px;
      border-radius: 10px;
      background-image: url("../../assets/imgs/anonymbird.png");
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    align-items: flex-start;
    padding-left: 100px;
    hr {
      width: calc(100%);
      margin: 0;
    }
  }
}